<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Welcome to my blog!</h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec lobortis sed velit at cursus. Proin in faucibus leo, non vulputate nisl. Vivamus fringilla cursus fermentum. Quisque velit dolor, semper vitae convallis vulputate, tincidunt nec risus. Vivamus eleifend mi mi, in mattis erat blandit aliquam. Duis euismod felis at leo malesuada, nec faucibus risus consectetur. Nunc vestibulum massa quis est facilisis, et efficitur purus commodo. Proin in sapien urna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce euismod tellus eu odio fringilla imperdiet. Maecenas eu consectetur nulla, non ultricies mi. Morbi lectus sapien, feugiat ut ultricies eu, pellentesque eget risus. Vivamus ut mi elit. Sed volutpat sollicitudin dui, ut pharetra diam tristique at. Aenean sapien leo, aliquet ornare est quis, tempus bibendum nisi?
            </p>
        </div>
    </div>
    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center">
            <button class="btn btn-outline-dark" routerLink='/feed'>See the feed</button>
        </div>
    </div>
</div>
